<h2>All Heroines</h2>
<div>
  <%= link_to "Create Heroine", new_heroine_path %>
</div>
<h3>Search By Superpower</h3>
<%= form_tag(heroines_path, method: "get") do%>
  <%= text_field_tag :search%>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
      <li>
        <%= link_to heroine.super_name, heroine_path(heroine) %>
      </li>
      <br>
  <% end %>
</ul>
