<h2>All Heroines</h2>
<h4> <%= link_to "Create New Heroine", new_heroine_path %> </h4>

  <%= form_tag("/heroines/search", method: "get") do %>
    <b><%= label_tag(:q, "Search By Superpower:") %></b><br>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>


<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
