<h1>Create a New Heroine! (not the drug)</h1>

<% if @heroine.errors.any? %>
<ul>
  <% @heroine.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @heroine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br><br>
  <%= f.label :super_name %>
  <%= f.text_field :super_name %>
<br><br>
  <%= f.label :power_id %>
  <%= f.collection_select :power_id, Power.all, :id, :name, include_blank: 'Please Select' %>
<br><br>
  <%= f.submit %>

<% end %>
