<h1> New Heroine: </h1>

<% #this error handler is from the documentation online, not written by me %>
<% if @heroine.errors.any? %>
  <div id="error_explanation">
    <em style="color:red;"><%= pluralize(@heroine.errors.count, "error") %> prohibited this heroine from being saved:</em>
    <ul>
    <% @heroine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @heroine do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :super_name %><br>
  <%= f.text_field :super_name %><br>
  <%= f.collection_select(:power_id, Power.all, :id, :name) %>
  <%= f.submit %>
<% end %>
