<h2>Create Heroine: </h2>


<% @heroine.errors.full_messages.each do |m| %>
<%= m %> <br>
<% end %> <br>

<%= form_for @heroine do |f| %>
  <%= f.label :name %>  <br>
  <%= f.text_field :name %> <br>
  <%= f.label :super_name %> <br>
  <%= f.text_field :super_name %><br>
  <%= f.label :power %> <br>
  <%= f.collection_select :power_id, Power.all, :id, :name, include_blank: "Please select" %>
  <%= f.submit %>
<% end %>
